<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Курсы</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<a href="/users">Студенты</a>
<table>
    <tr>
        <th>Название</th>
        <th>Описание</th>
        <th>Начало</th>
        <th>Конец</th>
        <th>Действия</th>
    </tr>
    <#list lessons as lesson>
        <tr>
            <td>${lesson.name}</td>
            <td>${lesson.summary}</td>
            <td>${lesson.startTime}</td>
            <td>${lesson.finishTime}</td>
            <td>
                <a href="/lessons/${lesson.id}">Перейти</a>
                <a href="/lessons/${lesson.id}/delete">Удалить</a>
            </td>
        </tr>
    </#list>
</table>

<h2>Добавление урока</h2>

<form action="/lessons" method="post">
    <label>
        Урок
        <input type="text" name="name" placeholder="Введите название урока">
    </label>
    <br>
    <label>
        Описание
        <input type="text" name="summary" placeholder="Введите описание урока">
    </label>
    <br>
    <label>
        Начало
        <input type="time" name="startTime">
    </label>
    <br>
    <label>
        Окончание
        <input type="time" name="finishTime">
    </label>
    <br>
    <input autofocus type="submit" value="Добавить"/>
</form>
</body>
</html>